# .gitignore

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
env/
*.sqlite3

# Mac/Windows
.DS_Store
Thumbs.db

# Render / Google Credentials
service_account.json
google-credentials.json
credentials.json

# Logs
*.log

# VSCode / IDE
.vscode/
.idea/
